body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.center {
    text-align: center;
}

.section-head-standart{
    color:  #4e4e4e;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding-top: 45px;
}

.section-head-standart:after {
    content: '';
    display: block;
    width: 78px;
    height: 1px;
    background-color: #18cfab;
    margin: 30px auto 70px;
    box-shadow: 10px 4px 0 0 #18cfab;
}

.our-services-tabs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-tab-link {
    width: calc(1160px/6);
    height: 70px;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #ececec;
    font-size: 16px;
    position: relative;
    transition: 100ms all ease-in-out;
    outline: none;
}

.services-tab-link:hover {
    background-color: #18cfab;
    color: #fff;
    transition: 273ms all ease-in-out;
}

.services-tab-active {
    background-color: #18cfab;
    color: #fff;
}

.services-tab-active:after {
    position: absolute;
    content: '';
    border: 8px solid #18cfab;
    bottom: -8px;
    left: 45%;
    transform: rotate(45deg);
}

.services-tab-item {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 100px;
}

.services-img {
    width: 200px;
    height: 140px;
}

.services-text {
    width: 935px;
    color: #777777;
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    line-height: 25px;
}

.ham-button{
    border: none;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    padding: 18px 25px;
    border-radius: 3px;
    box-shadow: 0 -4px 0 0   #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}

.green-button {
    background-color: #18cfab;
}

.lid-magnet {
    background: linear-gradient( rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)), url('../img/Sections background/section-2.jpg') center fixed;
    background-size: cover;
    height: 470px;
    position: relative;
}

.lid-magnet-head-green {
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 120px;
    margin-bottom: 35px;
    text-align: center;
}

.lid-magnet-description {
    color: #d8d8d8;
    font-size: 16px;
    text-align: center;
    margin-bottom: 70px;
}

.modal {
    display: none;
}

.modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20,20,20,0.8);
    display: none;
}

.overlay-open {
    display: block;
}

.modal-win {
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    width: 820px;
    height: 360px;
    background-color: #fff;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-form  {
    width: 42.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /*margin-left: 40px;*/
}

.form-head {
    font-size: 22px;
    font-weight: 400;
    color: #474646;
    margin-top: 45px;
}

.form-input {
    position: relative;
    width: 302px;
    height: 15px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ececec;
    color: #b6b6b6;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
}

.form-footer-text {
    color: #b6b6b6;
    font-size: 15px;
}

.form-checkbox {
    display: flex;
    align-items: center;
}
.form-checkbox .checkbox-input{
    display: none;
}
.form-checkbox .checkbox-input:checked~.custom-checkbox:after {
    transform: scale(1);
}
.custom-checkbox {
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #dedede;
}
.custom-checkbox:after {
    content: '\2713';
    position: absolute;
    display: block;
    color: green;
    font-size: 20px;
    bottom: -3px;
    font-weight: 700;
    transform: scale(0);
    transition: 0.3s;
}

.modal-divider {
    width: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 10px;
}

.modal-divider-line {
    border: 1px solid #18cfab;
    height: 90px;
    transform: rotate(180deg);
}

.modal-divider-text {
    color: #919191;
    font-size: 14px;
    font-style: italic;
}

.social-networks {
    width: 42.5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.networks-button {
    width: 310px;
    height: 50px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    padding: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.networks-button:nth-of-type(3){
    margin-bottom: 45px;
}

.bg-blue {
    background-color: #385899;
    transition: background-color 0.3s ease-in-out;
}

.bg-blue:hover {
    background-color: #324e89;
    transition: background-color 0.3s ease-in-out;
}
.bg-light-blue {
    background-color: #43b1e4;
    transition: background-color 0.3s ease-in-out;
}

.bg-light-blue:hover {
    background-color: #3ea3d2;
    transition: background-color 0.3s ease-in-out;
}

.bg-red {
    background-color: #df4b31;
    transition: background-color 0.3s ease-in-out;
}

.bg-red:hover {
    background-color: #cf3c21;
    transition: background-color 0.3s ease-in-out;
}

.networks-icon {
    width: 60px;
    height: 50px;
    font-size: 30px;
    line-height: 55px;
    border-radius: 3px;
}

.fb-bg {
    background-color: #324e89;
    transition: background-color 0.3s ease-in-out;
}

.networks-button:hover .fb-bg{
    background-color: #385899;
    transition: background-color 0.3s ease-in-out;
}

.twitter-bg {
    background-color: #3ea3d2;
    transition: background-color 0.3s ease-in-out;
}

.networks-button:hover .twitter-bg{
    background-color: #43b1e4;
    transition: background-color 0.3s ease-in-out;
}

.google-bg{
    background-color: #cf3c21;
    transition: background-color 0.3s ease-in-out;
}

.networks-button:hover .google-bg {
    background-color: #df4b31;
    transition: background-color 0.3s ease-in-out;
}

.networks-text {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.modal-second-title {
    color: #18cfab;
    font-size: 21px;
    font-weight: 400;
}

.input-email {
    background: url("../img/form/email.png") no-repeat 95% 50%;
}

.input-password {
    background: url("../img/form/password.png") no-repeat 95% 50%;
}

.form-button {
    width: 335px;
    height: 47px;
    background-color: #11d0ac;
    color: #fff;
    font-size: 21px;
    padding: 0;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

.form-button:hover {
    background-color: #099178;
    transition: background-color 0.3s ease-in-out;
}

.form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 55px;
}


.text-dark {
    color: #4e4e4e;
}

.breaking-news {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}

.breaking-news-item {
    position: relative;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.breaking-news-img {
    height: 200px;
}

.post-date {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    content: '12 \A Feb';
    white-space: pre;
    line-height: 25px;
    text-align: center;
    padding: 10px 20px;
    background-color: #203e38;
    transition: 0.3s background-color ease-in-out;
}

.breaking-news-item:hover .post-date {
    background-color: #18cfab;
}

.breaking-news-post {
    height: 70px;
    background-color: #f8fcfe;
    border-left: 1px solid #edeeee;
    border-right: 1px solid #edeeee;
    border-bottom: 1px solid #edeeee;
    text-decoration: none;
    margin-bottom: 40px;
    cursor: pointer;
}

.post-name {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 15px 10px;
    transition: 0.3s color ease-in-out;
}

.post-info {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
}

.breaking-news-item:hover .post-name{
    color: #18cfab;
    transition: 0.3s color ease-in-out;
}

.breaking-news-post span:last-child:before{
    content: '|';
    margin: 0 10px 0 -5px;
}

.review {
    background: linear-gradient( rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8) ), url('../img/Sections background/section-3.jpg') center fixed;
    background-size: cover;
    height: 750px;
    position: relative;
}

.text-white {
    color: #fff;
}

.review-main-ul {
    margin-bottom: 60px;
}

.review-main-item {
    display: block;
}

.review-main-item-text {
    margin-bottom: 35px;
}

.review-description {
    color: #bbb;
    font-size: 16px;
    font-weight: 300;
    margin: 40px 0;
}

.review-name {
    text-transform: uppercase;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.review-position {
    color: #bbb;
    font-size: 13px;
    font-weight: 300;
}

.review-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #11d0ac;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
}

.active {
    display: block;
}

.navlist-btn-prev {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navlist-btn-next {
    width: 30px;
    height: 30px;
    background-color: #11d0ac;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.review-img-navlist {
    width: 480px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.review-navlist-area {
    position: relative;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.navlist-img {
    width: 55px;
    height: 55px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
    transition: all 0.3s ease-in-out;
}

.navlist-img-active {
    transition: all 0.3s ease-in-out;
    border: 2px solid #11d0ac;
    transform: translateY(-20px);
}